<div class="fluid-container">
        <p  id="blogHead" class="text-center">Discover your next travel destination from your comfy sofa</p>
        <!-- european city breaks-->
      
        <div class="row p-3 m-3">
         <div class="col-lg-12">
            <p class="h5 font-weight-bold titLe">European City Breaks</p>
         </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div>
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/X8zLJlU_-60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div>
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/x2cpyfyLmT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/oSexfR0Ubzw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
  
        <!-- our favourites -->

         <div class="row p-3 m-3">
         <div class="col-lg-12">
            <p class="h5 font-weight-bold titLe">Our favourites</p>
         </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                    
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/r3btlOJhJmc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/FsjHqvpTRag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/TmDKbUrSYxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
     
        <!-- big adventures -->
         <div class="row p-3 m-3">
         <div class="col-lg-12">
            <p class="h5 font-weight-bold titLe">Big adventures</p>
         </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/h_ayZ-xcMd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/huqJUghX26Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/3RDYVVmVR2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


